.container {
  height: 45vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  padding: 2%;
  justify-content: space-between;
  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 48%;
  }
  label {
    height: 3vh;
  }
  .input{
    width: 100%;

  }
  .contactContainer {
    display: flex;
    text-align: left;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    .contactContent {
      width: 100%;
      justify-content: space-between;
      .inputContainer {
        width: 32%;
        .contactInput {
          width: 100%;
          padding: 2%;
        }
      }
    }
  }
  .homeSelectionButton {
    width: 100%;
    height: 5vh;
    margin-top: 2%;
  }
  h5 {
    position: absolute;
    bottom: 8vh;
    width: 93%;
  }
}
