$buttonBgColor: linear-gradient(#011b36, #003464);
$buttonBgColorHover: linear-gradient(#010e1b, #021a31);
$blueColor: #02284e;
$grey: rgba(128, 128, 128, 0.507);
$colorWhite: white;
$colorError: red;
$colorSuccess: green;
$buttonDisabled: linear-gradient(#6f757a, #747a80);
$colorLink: rgb(3, 101, 167)