@import "../../color.scss";
.container {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  .content {
    width: 100%;
    .header {
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      width: 100%;
      pre {
        align-self: center;
        text-align: end;
        margin: 1%;
        a {
          color: rgb(0, 132, 255);
        }
        a:hover {
          color: rgb(8, 8, 141);
        }
      }
    }
  }
}
